.img_p1 {
  text-align: center;
  margin: 1.5rem auto 0.5rem auto;
}

.img_p1 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 870px;
  min-width: 250px;
  height: auto;
  border-radius: 6px;
  cursor: pointer; /* tanda bisa diklik */
  transition: transform 0.2s ease;
}


.nama_g p {
  text-align: center;
 
}